{% extends 'base.html' %}

{% block body%}

<div class="container mt-3">
    <h1 style="color: orange">Texugo Imports</h1>
    <h3>Faça parte da nossa comunidade. deixe seu Post aqui</h3>
    <hr>

    {% for post in posts %}

    <div class="row border mt-4 p-3 meupost rounded">
        <div class="col">
            <div><img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}"
                 class="rounded" width="80"></div>
            <div>
                <strong>{{ post.autor.username}}</strong>
                <p>{{ post.data_criacao.strftime('%d/%m/%Y - %H:%M:%S') }}</p>
            </div>

            <div class="container border mb-1 mt-2 meupostcursos">
                <div class="row justify-content-center mb-1">
                    <div class="col col-12" style="text-align: center">
                        <strong>Cursos</strong><br>
                        {% for curso in post.autor.cursos.split(';') %}
                        <button type="button" class="btn btn-outline-primary btn-sm mt-2" disabled>{{ curso }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>


        </div>
        <div >
            <a class="link_dec" href="{{ url_for('exibir_post', post_id=post.id) }}"><h3>{{post.titulo}}</h3></a>
            <p>{{post.corpo}}</p>
        </div>

    </div>

    {% endfor %}

</div>


{% endblock %}