{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h3>Usuários</h3>
    {% for usuario in lista_usuarios %}
    <div class="container border mt-2">
        <div class="container mt-5 d-flex justify-content-center">
            <div class="card p-3">
                <div class="d-flex align-items-center">

                    <div class="ml-3 w-100 justify-content-center">
                        <div class="image pe-2 ">
                            <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(usuario.foto_perfil)) }}"
                                 class="rounded" width="100">
                        </div>
                        <h4 class="mb-0 mt-0">{{ usuario.username}}</h4>
                        <span>{{ usuario.email}}</span>
                        <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                            <div class="d-flex flex-column">
                                <span class="articles">Cursos</span>
                                {% if 'Não informado' in usuario.cursos %}
                                <span class="number1">0</span>
                                {% else %}
                                <span class="number1">{{ usuario.cursos.count(';') + 1 }}</span>
                                {% endif %}

                            </div>

                            <div class="d-flex flex-column">
                                <span class="rating">Posts</span>
                                <span class="number3">{{ usuario.contar_posts() }}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
<hr>
        <div class="row justify-content-center mb-4">
            <div class="col col-12" style="text-align: center">
                <strong>Cursos</strong><br>
                {% for curso in usuario.cursos.split(';') %}
                <button type="button" class="btn btn-outline-dark btn-sm mt-2" disabled>{{ curso }}</button>
                {% endfor %}

            </div>
        </div>
    </div>
    {% endfor %}
    <div class="mb-5">

    </div>

</div>


{% endblock %}